
{% extends 'base.html' %}
{% load static %}



{% block css %}
    <style>
        @media (max-width: 767px){
            .carousel-inner.carousel-item > div
            {
                display: none
            }
            .carousel-inner .carousel-item >div:first-child
            {
                display: block
            }
        }
        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next, 
        .carousel-inner .carousel-item-prev
        {
            display: flex
        }
        @media (min-width: 768px)
        {
            .carousel-inner .carousel-item-end.active,
            .carousel-inner .carousel-item-next
            {
                transform: translateX(25%)
            }
            .carousel-inner .carousel-item-start.active,
            .carousel-inner .carousel-item-prev
            {
                transform: translateX(-25%)
            }
        }
        .carousel-inner .carousel-item-end,
        .carousel-inner .carousel-item-start
        {
            transform: translateX(0)
        }
    </style>
{% endblock css %}
    


{% block body %}

      <!-- Hero image -->
      <div class="hero-image">
        <div class="hero-text">
            <h1>Sınırsız film, dizi ve çok daha fazlası.</h1>
            <h4>İstediğiniz yerde izleyin. İstediğiniz zaman iptal edin.</h4>
            <p>İzlemeye hazır mısınız? Üyelik oluşturmak veya üyeliğinze erişmek için e-posta adresinizi girin</p>

            <button class="btn btn-secondary btn-lg mt-3">Oynat</button>
            <button class="btn btn-secondary btn-lg mt-3">Daha Fazla Bilgi</button>
        </div>
      </div>
      
      <div class="container text-center my-3">
            <h3 class="text-light">İzlemeye Başlayın</h3>
              <div class="row mx-auto my-auto justify-content-center">
                  <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                          {% for i in movieFilter %}
                          <div class="carousel-item active">
                        <div class="col-md-3"> 
                            <div class="card"> 
                                <div class="card-img"> 
                           <img src="{{ i.image.url }}" class="img-fluid">
                        </div> 
                        <!-- <div class="card-img-overlay">{{ i.name }}</div> -->
                        </div> 
                       </div> 
                    </div> 
                       {% endfor %}
                </div>

                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                </a> 
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a> 
            </div> 
            </div> 
        </div>

{% endblock body %}
    





{% block js %}
    <script>
        let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i=1; i<minPerSlide; i++) {
        if (!next) {
        	next = items[0]
      	}
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
    }
})
    </script>
{% endblock js %}
    